<div class="page home-page">
  <!-- Main Navbar-->
  <header class="header">
    <nav class="navbar">
      
      <div class="container-fluid">
        <div class="navbar-holder d-flex align-items-center justify-content-between">
          <!-- Navbar Header-->
          <div class="navbar-header">
            <!-- Navbar Brand -->
            <a href="index.html" class="navbar-brand">
              <div class="brand-text">
              	<span>
                <img src="https://media.neliti.com/media/organisations/logo-191-universitas-esa-unggul.jpg" class="rounded logo-ueu" alt="Logo UEU">
            	 </span>
              	<strong>Mahasiswa</strong>
              </div>
      		</a>
          </div>
          <!-- Navbar Menu -->
          <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
           <!-- Logout    -->
            <li class="nav-item"><a href="login.html" class="nav-link logout">Logout<i class="fa fa-sign-out"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="page-content">
	<div class="content-inner">
		<!-- Page Header-->
		<header class="page-header">
			<div class="container-fluid">
			  <h2 class="no-margin-bottom">Informasi Data Mahasiswa</h2>
			</div>
		</header>
		  <!-- Dashboard Counts Section-->
		<section class="dashboard-counts no-padding-bottom">
		    <div class="container-fluid">
		      <div class="row bg-white has-shadow">
		      	<div class="col-xl-2">
		      	</div>
		      	<div class="col-xl-8">
					<div class="form-group row"> <!-- <div class="form-group row has-danger"> -->
			          <label class="col-sm-3 form-control-label">Nama</label>
			          <div class="col-sm-9">
			           <!--  <input type="text" class="form-control is-invalid">
			            <div class="invalid-feedback">Please provide your name.</div> -->
			            <input type="text" class="form-control">
			          </div>
			        </div>
					<div class="form-group row"> <!-- <div class="form-group row has-danger"> -->
			          <label class="col-sm-3 form-control-label">NIM</label>
			          <div class="col-sm-9">
			           <!--  <input type="text" class="form-control is-invalid">
			            <div class="invalid-feedback">Please provide your name.</div> -->
			            <input type="text" class="form-control">
			          </div>
			        </div>
					<div class="form-group row"> <!-- <div class="form-group row has-danger"> -->
			          <label class="col-sm-3 form-control-label">Tanggal Lahir</label>
			          <div class="col-sm-9">
			           <!--  <input type="text" class="form-control is-invalid">
			            <div class="invalid-feedback">Please provide your name.</div> -->
			            <input type="text" class="form-control">
			          </div>
			        </div>
					<div class="form-group row"> <!-- <div class="form-group row has-danger"> -->
			          <label class="col-sm-3 form-control-label">Fakultas</label>
			           <!--  <input type="text" class="form-control is-invalid">
			            <div class="invalid-feedback">Please provide your name.</div> -->
						<div class="col-sm-9 select">
							<select name="account" class="form-control">
								<option>Ilmu Komputer</option>
								<option>Ilmu Kesehatan</option>
								<option>Ilmu Komunikasi</option>
								<option>Fisioterapi</option>
							</select>
						</div>
			        </div>

					<div class="form-group row"> <!-- <div class="form-group row has-danger"> -->
			          <label class="col-sm-3 form-control-label">Foto</label>
			          	<div class="col-sm-9">
			          	</div>
			          	<div class="row">
				          <div class="col-sm-4"><img src="https://media.neliti.com/media/organisations/logo-191-universitas-esa-unggul.jpg" class="rounded foto-profile" alt="Logo UEU"></div>
				          <div class="col-sm-8">
				           <!--  <input type="text" class="form-control is-invalid">
				            <div class="invalid-feedback">Please provide your name.</div> -->
							<input type="file" class="form-control">
				          </div>
			      		</div>
			        </div>
		      	</div>
		      	<div class="col-xl-2">
		      	</div>
		      </div>
			</div>
		</section>
	</div>
  </div>
</div>